<div class="asyncawait-section">
    <div class="wrapper">
        <h2>Async / Await</h2>
        <br>

        <ul class="row">
            <li class="col-md-4">
                <strong>Ex - 01 : with Promise</strong>
                <hr>
                <button class="btn btn-primary" (click)="fetch1()">Buy Laptop</button>
                <hr>
                <div class="result1">
                    {{result1}}
                </div>
            </li>
            <li class="col-md-4">
                <strong>Ex - 02 : with Async / Await</strong>
                <hr>
                <button class="btn btn-primary" (click)="fetch2()">Buy Laptop</button>
                <hr>
                <div class="result2">
                    {{result2}}
                </div>
            </li>
            <li class="col-md-4">
                <strong>Ex - 03 : with Fetch Api</strong>
                <hr>
                <button class="btn btn-primary" (click)="fetch3()">Buy Laptop</button>
                <hr>
                <div class="result3">
                    {{result3}}
                </div>
            </li>
        </ul>
    </div>
</div>